body {
    margin:0;
}

.body {
    display: flex;
    flex-direction: column;
}

.first-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:20px 200px;
}

.header {
    display: flex;
    align-items: center;
}

h3 {
    font-size:24px;
    color: #F9FAF8;
    margin-left:5px;
    margin-right:auto;
}

.header img {
    height:50px;
    color:wheat;
    align-self:flex-start;
}

ul {
    list-style-type: none;
    display: flex;
    gap:20px;
}
ul a {
    text-decoration: none;
    font-size:18px;
    color:#E5E7EB;
}

.hero-content {
    display:flex;
    align-items: center;
}

.hero-content img {
    height:300px;
    margin-right:auto;
}

.info {
    display:flex;
    flex-direction: column;
    min-width:300px;
    max-width:600px;
}

.info p {
    font-size:18px;
    color:#E5E7EB;
}

.info input {
    font-size: 18px;
    width:fit-content;
    padding:10px 30px;
    background-color: #3882F6;
    border-radius:10px;
    border:0;
    text-align: center;
    color:#F9FAF8;
    font-weight: bolder;
}

h1 {
    font-size:48px;
    font-weight: bolder;
    color:#F9FAF8;
}
.second-section {
    padding:20px 100px;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size:36px;
    color:#1F2937;
    font-weight:bolder;
}

.card-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:200px;
    height: 250px;
    padding:20px;
    text-align: center;
}

.card img {
    min-width:200px;
    max-width:200px;
    min-height:150px;
    max-height:150px;
    padding:10px;
    border: 4px solid #3882F6;
    border-radius:20%;
}

.card p {
    font-size:16px;
    margin-top:20px;
}